---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    description: 
    "All Private Suite Options",
    icon: "bx:bxs-building-house",
  },
  {
    description:
      "24/7 Care Services",
    icon: "bx:bxs-first-aid",
  },
  {
    description:
      "Meals Provided",
    icon: "bx:bxs-bowl-hot",
  },
  {
    description:
      "Medicine Reminders",
    icon: "bx:bxs-timer",
  },
  {
    description:
      "In-Home Cleaning and Maintenance",
    icon: "bx:bxs-spray-can",
  },
  {
    description:
      "Laundry Services",
    icon: "bx:bxs-washer",
  },
];
---

<div class="mt-16 md:mt-0">
  <link href="https://unpkg.com/boxicons/css/boxicons.min.css" rel="stylesheet">
  <import 'boxicons/css/boxicons.min.css';></import>
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    What Makes Serenity Homes the Right Choice for You?
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex flex-col items-center gap-4">
        <div class="mt-4 bg-black rounded-full p-4 w-16 h-16 flex items-center justify-center shrink-0">
          <Icon class="text-white w-8 h-8" name={item.icon} />
          <i class={`bx ${item.icon} text-white w-1 h-1`}></i>
        </div>
        <div class="text-center">
          <h3 class="font-bold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed text-xl">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>

